<!-- Main -->
<div class="container">
    <table class="forum-table">
        <tr>
            <th class="col-forum">Форумы</th>
            <th class="col-topics">Темы</th>
            <th class="col-posts">Сообщения</th>
            <th class="col-last">Последнее сообщение</th>
        </tr>

        <tr [ngClass]="{'row-1': i % 2 === 0, 'row-2': i % 2 !== 0}" *ngFor="let forum of forums; let i = index">
            <td class="col-forum">
                <div class="forum-title">
                    <div [routerLink]="['/forum', forum.id]" style="cursor: pointer;">{{ forum.title }}</div>
                </div>
                <div class="forum-desc">
                    {{ forum.description }}
                </div>
            </td>
            <td class="col-topics">{{ forum.topicCount || 0 }}</td>
            <td class="col-posts">{{ forum.postCount || 0 }}</td>
            <td class="col-last">
                <ng-container *ngIf="forum.latestDiscussion; else noDiscussions">
                    <div class="last-title">{{ forum.latestDiscussion.title }}</div>
                    <div class="last-meta">{{ forum.latestDiscussion.authorName }} · {{ forum.latestDiscussion.createdAt
                        | date: 'shortDate' }}</div>
                </ng-container>
                <ng-template #noDiscussions>
                    <div class="last-meta">Нет обсуждений</div>
                </ng-template>
            </td>
        </tr>
    </table>

    <div *ngIf="loading" style="padding: 20px; text-align: center; color: #6a7c64;">
        Загрузка форумов...
    </div>
    <div *ngIf="!loading && forums.length === 0" style="padding: 20px; text-align: center; color: #6a7c64;">
        Пока нет доступных форумов!
    </div>
</div>