
<!-- Main -->
<div class="container">
    <table class="forum-table">
        <tr>
            <th class="col-forum">Форумы</th>
            <th class="col-topics">Темы</th>
            <th class="col-posts">Сообщения</th>
            <th class="col-last">Последнее сообщение</th>
        </tr>

        <tr class="row-1">
            <td class="col-forum">
                <div class="forum-title">Велосипеды и оборудование</div>
                <div class="forum-desc">
                    Выбор велосипедов, компонентов, настройка и обслуживание
                </div>
            </td>
            <td class="col-topics">254</td>
            <td class="col-posts">4320</td>
            <td class="col-last">
                <div class="last-title">Какую вилку выбрать?</div>
                <div class="last-meta">Biker_22 · Сегодня, 12:45</div>
            </td>
        </tr>

        <tr class="row-2">
            <td class="col-forum">
                <div class="forum-title">Покатушки и маршруты</div>
                <div class="forum-desc">
                    Совместные поездки, отчёты, карты и фотографии
                </div>
            </td>
            <td class="col-topics">198</td>
            <td class="col-posts">3567</td>
            <td class="col-last">
                <div class="last-title">Велопоход в Карпаты</div>
                <div class="last-meta">Tourist · Вчера, 19:30</div>
            </td>
        </tr>

        <tr class="row-1">
            <td class="col-forum">
                <div class="forum-title">Экстрим и даунхилл</div>
                <div class="forum-desc">
                    Прыжки, трассы, техника и безопасность
                </div>
            </td>           
            <td class="col-topics">142</td>
            <td class="col-posts">2789</td>
            <td class="col-last">
                <div class="last-title">Новое видео дропов</div>
                <div class="last-meta">RiderX · 20.01.2022</div>
            </td>
        </tr>

        <tr class="row-2">
            <td class="col-forum">
                <div class="forum-title">Здоровье и тренировки</div>
                <div class="forum-desc">
                    Физическая подготовка, питание и восстановление
                </div>
            </td>
            <td class="col-topics">180</td>
            <td class="col-posts">3102</td>
            <td class="col-last">
                <div class="last-title">Вредны ли энергетики?</div>
                <div class="last-meta">AlexFit · 17.01.2022</div>
            </td>
        </tr>

        <tr class="row-1">
            <td class="col-forum">
                <div class="forum-title">Куплю / Продам</div>
                <div class="forum-desc">
                    Велосипеды, запчасти, аксессуары
                </div>
            </td>
            <td class="col-topics">376</td>
            <td class="col-posts">5412</td>
            <td class="col-last">
                <div class="last-title">Продам раму Trek</div>
                <div class="last-meta">VeloMan · Сегодня, 10:15</div>
            </td>
        </tr>

        <tr class="row-2">
            <td class="col-forum">
                <div class="forum-title">Оффтопик / Общение</div>
                <div class="forum-desc">
                    Свободное общение и любые темы
                </div>
            </td>
            <td class="col-topics">214</td>
            <td class="col-posts">6988</td>
            <td class="col-last">
                <div class="last-title">Флудилка у костра</div>
                <div class="last-meta">Smiley · Вчера, 21:05</div>
            </td>
        </tr>
    </table>
</div>